/*
 * Copyright (c) 2025 Justin Keene
 * SPDX-License-Identifier: MIT
 *
 * NOTE: This file is kept for backwards compatibility but is no longer used.
 * Trackball processor configurations are now embedded in the shield files:
 * - boards/shields/charybdis_bt/charybdis_trackball_processors.dtsi
 *
 * The processor chain is defined as a macro (CHARYBDIS_TRACKBALL_PROCESSORS)
 * and used by both standalone and dongle configurations.
 */
